.alert {
    margin-bottom: 0 !important;
}
.bg-dark {
    background-color: #063869!important;
}

.form-container{
    margin-top: 5%;
    padding: 3%;
    border: 2px solid green;
    background-color: honeydew;
}